<header class="page-header">
  <h1>Admin &raquo; Dashboard</h1>

  <div class="alert alert-info">
    <h3><%= @products.size %> Products</h3>
  </div>

  <div class="alert alert-info">
    <h3><%= @categories.size %> Categories</h3>
  </div>

  <%= link_to '/admin/products', class: 'btn btn-default pull-right' do %>
    Products and Categories &raquo;
  <% end %>
</header>