<tr>
  <td>
    <%= review.rating %>
  </td>
  <td>
    <%= review.description %>
  </td>
  <td>
    <% if current_user && current_user.id == review.user_id %>
      <%= link_to fa_icon('trash'), [review.product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </td>
</tr>